<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Contact</h2>
            <p class="intro  text-center">I hope you find this Bootstrap template useful.
                <br />Feel free to get in touch if you have any questions or suggestions.</p>
            <div class="author-message">
                <div class="profile">
                    <img class="img-responsive" src="{{ .Site.BaseURL }}img/profile.png" alt="" />
                </div>
                <!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Want to get more freebies in the future?</h3>
                    <p>I tweet about #UX and #webdev related resources/content at
                        <a href="https://twitter.com/3rdwave_themes"
                            target="_blank">@3rdwave_themes</a>
                        <p>If you like what I do, you can follow me on twitter and I will keep you informed about my next free
                            template there :)</p>
                        <p>
                            <strong>[Tip for developers]:</strong> If you take on freelance work you can put a tailored message here
                            about your availability to attract potential clients. Be creative and good luck!</p>
                        <div class="source">
                            <span class="name">
                                <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a>
                            </span>
                            <br />
                            <span class="title">UX/UI Designer</span>
                        </div>
                        <!--//source-->
                </div>
                <!--//speech-bubble-->
            </div>
            <!--//author-message-->
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    <li>
                        <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/{{ .Site.Params.instagram }}">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/{{ .Site.Params.dribble }}">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="last">
                        <a href="mailto: {{ .Site.Params.email }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--//info-->
        </div>
        <!--//contact-inner-->
    </div>
    <!--//container-->
</section>
<!--//contact-->