<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">Designed with
            <i class="fa fa-heart"></i> by
            <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div>
    <!--//container-->
</footer>
<!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/prism/prism.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>