<head>
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }} &middot; {{ .Site.Params.description }}
    {{ else }}
      {{ .Title }} &middot; {{ .Site.Title }}
    {{ end }}
  </title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/prism/prism.css">
  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>