<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
{{ partial "head.html" . }}

<body data-spy="scroll">
  {{ partial "facebook.html" . }}
  {{ partial "header.html" . }}
  {{ partial "promo.html" . }}
  {{ partial "about.html" . }}
  {{ partial "features.html" . }}
  {{ partial "docs.html" . }}
  {{ partial "license.html" . }}
  {{ partial "contact.html" . }}
  {{ partial "footer.html" . }}
</body>

</html>
